.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__logo-link {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: $black;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;
}

.header__list {
    display: flex;
    margin-left: 122px;
    flex-wrap: wrap;

    @media (min-width: 375px) {
        margin-left: 84px;
    }

    @include tablets {
        margin-left: 132px;
    }
}

.heder__item {
    margin-right: 21px;
}

.heder__item:nth-last-child(1) {
    margin-right: 0;
}

.header__link-nav {
    color: $grey-dark;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    transition: 0.25s;

    @include tablets {
        font-size: 14px;
    }

    &:hover {
        color: $orange;
        font-size: 19px;
    }

    &:active {
        color: $orange-dark;
    }
}
