.page {
    flex: 1 1 auto;
}

.main-block {
    position: relative;
}

.main-block__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.2px;
    max-width: 509px;
    margin-bottom: 35px;

    @include tablets {
        font-size: 58px;
        line-height: 80px;
    }
}

.main-block__subtitle {
    max-width: 376px;
    margin-bottom: 35px;
}

.main-block__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $grey-dark;
}

.main-block__button-link {
    padding: 10px 36px 10px 36px;
    border-radius: 37px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: $green-dark;
    border: solid 1px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

    @include tablets {
        width: initial;
    }

    &:hover {
        background-color: $orange;
        color: $white;
        transition: 0.35s;
    }

    &:active {
        background-color: $orange-dark;
        transition: 0.25s;
        color: $white-opacity;
        box-shadow: inset 0px 3px 0px rgb(0 1 1 / 10%);
    }
}

.main-block__button {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.main-block__body {
    padding: 134px 10px 86px 10px;
    position: relative;
    z-index: 2;

    @include tablets {
        padding: 184px 10px 86px 10px;
    }
}

.main-block__cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 30px;
}

.main-block__cart:nth-last-of-type(1) {
    margin-right: 0;
}

.main-block__carts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: -80px auto;

    @include tablets {
        flex-direction: row;
        justify-content: space-around;
    }

    @include desktop {
        justify-content: space-between;
    }
}

.main-block__cart-svg {
    margin-bottom: 10px;
}

.main-block__cart-heading {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    max-width: 186px;
}

.main-block__cart-heading-white {
    color: $white;
}

.main-block__cart-subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    max-width: 221px;
}

.main-block__cart-subtitle-white {
    color: $white;
}

.main-block__cart-block {
    padding: 35px 40px 35px 40px;
    background-color: $white;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    margin-bottom: 20px;
    @include desktop {
        margin-bottom: 0;
    }
}

.main-block__cart-block:nth-last-of-type(1) {
    background-color: $green-dark;
}

.main-block__container {
    margin-bottom: 174px;
}

.main-block__image {
    background-color: $black-opacity;
    @include tablets {
        background-color: initial;
    }
}
