.partners {
    position: relative;
    margin-bottom: 80px;
}

.partners::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $blue-dark;
    height: 77px;
}

.partners__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partners__svg {
    margin: 0 12px 11px 0;
}

.partners__mail {
    background-color: $light-blue;
    max-width: 986px;
    margin: 0 auto;
    border-radius: 2px;
    position: relative;
    z-index: 2;
}

.partners__mail-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    min-width: 290px;
}

.partners__mailing {
    max-width: 266px;
    color: $white;
    font-size: 24px;
    line-height: 32px;
    font-size: 700;
    letter-spacing: 0.1px;
    margin: 30px;
}

.partners__block {
    max-width: 1018px;
    margin: 0 auto;
    padding-top: 50px;
}

.partners__form-button {
    color: $white;
    background-color: $orange;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 15px 22px 15px 22px;
    border: solid 1px $white;
    border-radius: 0 5px 5px 0;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4px;

    @include tablets {
        pad: 0 22px;
    }
}

.partners__form {
    display: flex;
    align-items: center;
    flex: 0 1 50%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.partners__form-input {
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0 20px;
}

.partners__logo {
    margin-bottom: 70px;
}
